<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FactoryMethodPattern.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FactoryMethodPattern.Properties.Settings>
            <setting name="BMWFactory" serializeAs="String">
                <value>FactoryMethodPattern.BMWFactory</value>
            </setting>
            <setting name="MiniFactory" serializeAs="String">
                <value>FactoryMethodPattern.MiniCooperFactory</value>
            </setting>
        </FactoryMethodPattern.Properties.Settings>
    </userSettings>
</configuration>